html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
    background-color: #d3dbe5;
      }

#wrapper {
   margin: 1px auto;
   padding: 0;
   border: 2px solid black;
   width: 580px;
   height: 300px;
}

#centerImage {
    position: absolute;
    left:50%;
    margin-left:-457px;
}

#map-canvas{
    width:556px;
    height:330px;
    position: absolute;
    margin-left: 111.5px;
    margin-top:144px;
}

#numLabel1{
    position: absolute;
    margin-left:50px;
    margin-top:151px;
    text-align: center;

    font-family: 'Roboto', medium;
    font-size: 10px;
    color: #ffffff;

}
#numLabel2{
    position: absolute;
    margin-left:50px;
    margin-top:225px;
    text-align: center;

    font-family: 'Roboto', medium;
    font-size: 10px;
    color: #ffffff;

}#numLabel3{
    position: absolute;
    margin-left:53px;
    margin-top:360px;
    text-align: center;

    font-family: 'Roboto', medium;
    font-size: 10px;
    color: #ffffff;

}
 #numLabel4{
    position: absolute;
    margin-left:53px;
    margin-top:492px;
    text-align: center;

    font-family: 'Roboto', medium;
    font-size: 10px;
    color: #ffffff;

}

 #timeLabel{
     position: absolute;
     margin-left:265px;
     margin-top:536px;
     font-family: 'Roboto', light;
     font-size: 10px;
     color: #9ba9bb;
 }

 #latLong{
    position: absolute;
     margin-left:182px;
     margin-top:553px;
     font-family: 'Roboto', light;
     font-size: 10px;
     color: #75859a;
 }

 #notes{
     position: absolute;
     margin-left:182px;
     margin-top:568px;
     font-family: 'Roboto', light;
     font-size: 10px;
     color: #64768f;
     width:460px;
     line-height: 170%;
 }

 #picture{
     position: absolute;
     margin-left:180px;
     margin-top:605px;
     font-family: 'Roboto', light;
     font-size: 10px;
     color: #64768f;
     width:150px;
     height:150px;
     line-height: 170%;
     background-color: black;
 }

 #viewAllButtonContents{
     position:absolute;
     width:160px;
     height:35px;
     margin-top: 140px;
     margin-left:-90px;
 }

  #viewNotesButtonContents{
     position:absolute;
     width:160px;
     height:95px;
     margin-top: 210px;
     margin-left:-90px;
 }

   #viewIssuesButtonContents{
     position:absolute;
     width:160px;
     height:95px;
     margin-top: 340px;
     margin-left:-90px;
 }

#viewInjuriesButtonContents{
    position:absolute;
    width:160px;
    height:95px;
    margin-top: 475px;
    margin-left:-90px;
}

#switchOffNotes{
    width: 30.5px;
    height: 16.6px;
    position:absolute;
    margin-top: 275px;
    margin-left:36.5px;
}

#switchOffIssues{
    width: 30.5px;
    height: 16.6px;
    position:absolute;
    margin-top: 408px;
    margin-left:36.5px;
}

#switchOffInjuries{
    width: 30.5px;
    height: 17.5px;
    position:absolute;
    margin-top: 541px;
    margin-left:36.5px;
}